{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}


{% block content %}

<style type="text/css">

.everything{
        margin-bottom: 20px;
        margin-left: 100px;
        width: 100%;
        padding:0px;
      }

.h1, p{
    font-family: 'Montserrat', sans-serif;
  }


</style>

{% if request.user.is_authenticated %}

<div class="container">
<div class="row">
<div class="everything">


<h1>Exercise Library</h1>
<br>


{% for vid in vids %}
<p>
  Exercise: {{ vid.exercise_Title }}
  <br>
  Description: {{ vid.exercise_Body }}
  <br>
  {% video vid.exercise_Video %} 
  <br>
</p>

{% endfor %}

    
{% endif %}
  <br>



</div>
  <br>
</div>
  <br>
</div>
  <br>

{% endblock content %}